target
.settings
.project
.attach*
.classpath
*~
.metadata
*.releaseBackup
release.properties
lib/*.jar
lib/*.zip
build/classes
build/docs/classes
build/docs/lib/site.jar
build/docs/velocity.log
build/temp.xml
docs/api
docs/*.html
docs/axis2
docs/binding
docs/fromcode
docs/fromschema
docs/jibxota
docs/jibxws
docs/eclipse/*.html
examples/codegen/jibx.log
examples/starter/bin

